<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fyqERbw/8bF+XpGnWlTXSzBootstrap Team 5.5.0Kkr8k" crossorigin="anonymous">
</head>

<body>

    <dicclass="hero-section" style="background-image: url('path/to/image.jpg');">
        <div class="container">
            <h1>Heading</h1>
            <p>Subheading</p>
        </div>
        </section>
        <!-- Courses -->
        <div class="container my-5">
            <div class="row">
                <div class="col-md-4">
                    <a href="#"><img src="course-image-1.jpg" class="img-fluid"></a>
                </div>
                <div class="col-md-4">
                    <a href="#"><img src="course-image-2.jpg" class="img-fluid"></a>
                </div>
                <div class="col-md-4">
                    <a href="#"><img src="course-image-3.jpg" class="img-fluid"></a>
                </div>
            </div>
        </div>
        <!-- Contact Form -->
        <div class="container my-5">
            <form>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone